/* body{
  background-color: #0A1929;
} */

.investorHomepage{
  background-color: #0A1929;
}
.startupList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 7%;
  margin-left: 3%;
}

.startupList > * {
  margin: 1rem;
  flex-basis: calc(33.33% - 2rem);
}

@media screen and (max-width: 800px) {
  .startupList > * {
    flex-basis: calc(50% - 2rem);
  }
}

@media screen and (max-width: 600px) {
  .startupList > * {
    flex-basis: calc(100% - 2rem);
    margin-top: 10%;
  }
}
  


  /* body {
background-color: aqua;
  }
  */
