.add-startup-header{
    background-color: #0A1929;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}
.form-group{
    background-color: #0A1929;
    
}
.primary-input{
    background-color: #202E3C;
    border-bottom: 2px solid grey;
    
    /* border: 0px; */
    border-left: 0;
    border-right: 0;
    border-top: 0;
    outline: none;
    border-radius: 5px 5px 0px 0px;
    color: whitesmoke;
    font-size: 18px;
    padding: 17px;
    padding-right: 5%;
    
}

.primary-input:hover{
    background-color: #2A3745;
}

.primary-input:focus-within {
    border-bottom: 3px solid #1976D2;
}

.primary-input::placeholder {
    font-size: 15px;
    color: #B8BCC1;
    
  }
  
.input-label{
    
    display: inline-block;
    padding-bottom: 5px;
    bottom: 10px;
    font-size: 16px;
    color: #1976D2;
}

.heading{
    font-weight: 600;
}
  