/* .Homepage {
    text-align: center;
  } */

  .founder-homepage-header {
    background-color: #101827;
    /* margin-top: 10%; */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .nameHeader{
    color: #B8BCC1;

  }

  @media (max-width: 600px) {

    .nameHeader{
      padding-top: 20%;
    }

  }