.Login {
    text-align: center;
    /* background-color: #0D1117; */
  }

  .passwordField {
    font-size: 100;
  }
  
  .Login-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .Login-logo {
      animation: Login-logo-spin infinite 20s linear;
    }
  }
  
  .Login-header {
    background-color: #0A1929;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .usernameText{
    font-size: 1;
  }
  
  .Login-link {
    color: #61dafb;
  }

  .Card {
    background-color: #082038;
    min-height: 50vh;
    min-width: 50vh;
    display: flex;
    border-radius: 2%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  @keyframes Login-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  