/* .Login {
    text-align: center;
    background-color: #0D1117;
  } */


  
  .Login-header {
    background-color: #0A1929;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .usernameText{
    font-size: 1;
  }
  

  .Card {
    background-color: #082038;
    min-height: 40vh;
    min-width: 40vh;
    display: flex;
    border-radius: 3%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
 
  