/* .Register {
    text-align: center;
    background-color: #0D1117;
  } */
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
  .verify-header {
    font-family: 'Poppins';
    background-color: #0A1929;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .usernameText{
    font-size: 1;
  }

 

  .verifyCard {
    background-color: #082038;
    min-height: 20rem;
    min-width: 30rem;
    display: flex;
    border-radius: 3%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .timeLeft {
    font-size: 18px;
    padding-top: 10px;
    color: rgb(187, 65, 89);
  }

  @media (max-width: 600px) {
    .verifyCard{
      min-width: 95vw;
      min-height: 45vh;
    }

    .timeLeft{
      font-size: 16px;
    }

   
  }
  