@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
.Register-header {
  font-family: 'Poppins';
  background-color: #0A1929;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.usernameText{
  font-size: 1;
}

/* .RegisterCard {
  background-color: #082038;
  min-height: 20rem;
  min-width: 30rem;
  display: flex;
  border-radius: 3%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.Buttons {
    display: flex;
    justify-content: space-between;
  
  }

  .Question {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 40px;
    justify-content: center;
    padding-top: 5%;
  }

  .Intro {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 40px;
    justify-content: center;
    
  }
  
  .FounderButton, .InvestorButton {
    font-size: 30px;
    font-weight: bold;
    font-family: "Poppins";
    color: white;
    padding: 100px 100px;
    padding-left: 130px;
    padding-right: 130px;
    background-color: #082038;
    border: 0;
    margin: 0 40px;
   
    border: none;
    border-radius: 40px;

  }

