/* .Login {
    text-align: center;
    background-color: #0D1117;
  } */
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
 

  
  .Login-header {
    font-family: 'Poppins';
    background-color: #0A1929;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  /* .username{
    font-size: 20px;
    height: "100%";
    width: "100%";
    border-radius: '10%';
    border-color: "red";
    
  } */
  

  .Card {
    background-color: #082038;
    min-height: 38rem;
    
    min-width: 28rem;
    
    display: flex;
    border-radius: 3%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .register{
    font-size: 17;
    bottom: 10%;
  }
  

  .input {
    border: 2px solid #082038;
    border-radius: 6px;
    /* background-color: #CDD8F5; */
    
   
  }
  
  .input.focused {
    border: 2px solid rgb(13, 109, 200);
    /* border: 2px solid red; */
    border-radius: 6px;
  }

  .loginFooter{
    font-size: 16px;
    position: absolute;
    color:lightslategrey;
    transform: translateY(50%);
    top: 95%;
  }

  @media (max-width: 600px) { 

    .Card{
      min-width: 95vw;
    }
  }
 
  